.subscribe{
    height: 30px;
    
    float: right;
    image-orientation: left;
    margin-right: 60px;
    
}

body{
    margin: 30px;
    background-color: white;

}

.menu{
  margin-left: 80px;
  text-decoration: none;
  color: black;
  
  
}

.image_nombre{
  height: 100PX;
  
  border: 1px solid black;

}

main{
  margin-left: 80px;
  margin-top: 100px;
  text-decoration: none;
  color: black;

}

main a{
  text-decoration: none;
  color :blue;
}

